html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Romance Fatal Serif Std';
    src:url('../fonts/romancefatalserifstd.eot') format('eot');
    src:url('../fonts/romancefatalserifstd.ttf') format('truetype'),
        url('../fonts/romancefatalserifstd.otf') format('opentype'),
        url('../fonts/romancefatalserifstd.woff') format('woff'),
        url('../fonts/romancefatalserifstd.woff2') format('woff2');
}


body {
    background: url(../img/parchment.png) no-repeat center center;
    background-size: cover;
}


/*HEADER CONTENT */
header {
    background: url(../img/banner.png) no-repeat center center;
    background-size: cover;

    -webkit-box-shadow: 0 2px 10px 5px #CFCFCF;
    box-shadow: 0 2px 10px 5px #CFCFCF;
}

header img {
    width: 50%;
    height:auto;
    display: block;
    margin: auto;
    padding-top: 30%;
}

h1,
h2,
h3,
h4 {
    font-family: "Romance Fatal Serif Std", Fallback, serif;
    }

h1 {
    color: #ffffff;
    text-align:center;
    padding-bottom: 2em;
    font-family: 'Romance Fatal Serif Std', Fallback, serif;
    font-size:3em;
}


/* MAIN CONTENT */
main {
    margin: 0 1em 1em;
}

h2 {
    color: #39322a;
    font-size: 2em;
    margin-bottom: -0.4em;
}

h3 {
    color: #71271c;
    font-size: 1.5em;
}

.serif {
    font-family: "Libre Baskerville", serif;
}

.description,
.sans,
.normal,
.hover {
    font-family: "Lato", sans-serif;
}

.description,
.serif,
.sans {
    color: #39322a;
}

.textlinks {
    text-decoration: none;
    color: #71271c;
}

.textlinks:hover {
    text-decoration: underline;
    color: #71271c;
}

/* SIDEBAR CONTENT */
#adjectives {
    padding: 2em;
}

h4 {
    color: #534e2f;
    font-size: 2em;
    display: inline;
    text-align: center;
    padding: 1em;
}

.sampleimg {
    text-align:center;
    width: 100%;
}

#sign,
#diners,
#diagon {
    width: 70%;
    height: auto;
}

#buttons {
    text-align: center;
    margin: 3em 0 1em;
}

.normal,
.hover {
    text-transform: uppercase;
    text-decoration:none;
    color: #ffffff;
    background-color: #71271c;
    padding: 0.6em 0.8em;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.normal:hover,
.hover:hover {
    background-color: transparent;
    border: 1px solid #71271c;
    color: #71271c
}

.colors {
    text-align:center;
}

#colorblock1{
    color: #ffffff;
    background-color: #39322a;
}

#colorblock2{
    color: #ffffff;
    background-color: #4d3d2e;
}

#colorblock3{
    color: #ffffff;
    background-color: #71271c;
}

#colorblock4{
    color: #ffffff;
    background-color: #e8b54c;
}

#colorblock5{
    color: #ffffff;
    background-color: #534e2f;
}

#colorblock1,
#colorblock2,
#colorblock3,
#colorblock4,
#colorblock5 {
    padding: 2em 0;
    margin:0;
}
