html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Romance Fatal Serif Std';
    src:url('../fonts/romancefatalserifstd.eot') format('eot');
    src:url('../fonts/romancefatalserifstd.ttf') format('truetype'),
        url('../fonts/romancefatalserifstd.otf') format('opentype'),
        url('../fonts/romancefatalserifstd.woff') format('woff'),
        url('../fonts/romancefatalserifstd.woff2') format('woff2');
}


/*HEADER CONTENT */
header {
    background: url(../img/banner.png) no-repeat center center;
    background-size: cover;

    -webkit-box-shadow: 0 2px 10px 5px #CFCFCF;
    box-shadow: 0 2px 10px 5px #CFCFCF;
}

header img {
    width: 50%;
    height:auto;
    display: block;
    margin: auto;
    padding-top: 30%;
}

h1,
h2,
h3,
h4 {
    font-family: "Romance Fatal Serif Std", Fallback, serif;
    }

h1 {
    color: #ffffff;
    text-align:center;
    padding-bottom: 2em;
    font-family: 'Romance Fatal Serif Std', Fallback, serif;
    font-size:3em;
}


/* MAIN CONTENT */
main {
    margin: 0 1em 1em;
}

h2 {
    color: #39322a;
    font-size: 2em;
    margin-bottom: -0.4em;
}

h3 {
    color: #71271c;
    font-size: 1.5em;
}

.serif {
    font-family: "Libre Baskerville", serif;
}

.description,
.sans {
    font-family: "Lato", sans-serif;
}

.description,
.serif,
.sans {
    color: #39322a;
}

/* SIDEBAR CONTENT */
#adjectives {
    padding: 2em;
}

h4 {
    color: #534e2f;
    font-size: 2em;
    display: inline;
    text-align: center;
    padding: 1em;
}
